<div class="container">
    <h1 class="text-center mt-5 mb-5">Lista de productos</h1>
    <ul class="list-group mb-5">
        <li class="list-group-item">
            <div class="row">

            
            <div class="col-2 mr-5" >
                <img src="../../../assets/empleados.jpg" style="height: 200px; width: 200px;" alt="">
            </div>
            
            <div class="col-9" >
                <button class="btn  btn-danger btn-sm float-right" style="cursor: pointer;"><i class="far fa-trash-alt"></i></button>
                <h2> titulo de producto </h2> 
                <hr>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit nihil animi quaerat nulla corporis eos rerum qui! Consectetur aliquid, deleniti in ipsa alias voluptas, doloremque exercitationem eius dolorem dolores animi!</p>
                <hr>
                <div class="float-right">
                    <h6>Precio por unidad: <strong>$1.50</strong></h6>
                    <h6>Cantidad: <strong>2 unidades</strong></h6>
                    <h6>Total: <strong>$3.00</strong></h6> 


                </div>

            </div>
           
        </div>

        </li>
        <li class="list-group-item ">
            <div class="float-right">
                <h6>Subtotal: <strong>$3.00</strong></h6> 
                <!-- <h6>IVA 12%: <strong>$0.36</strong></h6>  -->
                <h5>Valor total a pagar: <strong>$3.00</strong></h5> 
                <button class="btn btn-primary btn-sm mr-2"  >Pagar con PayPal</button>
                <button class="btn btn-warning btn-sm" (click)="subirComprobante()">Deposito bancario</button>

            </div>
        </li>
       
      </ul>
</div>